<h1>{{ 'PersonPage.User.Data' | translate }}</h1>

<div class="user-data-presenter">
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>{{ 'PersonPage.User.Present.UserName' | translate }}</mat-card-subtitle>
            <mat-card-title>{{ user?.userName }}</mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>{{ 'PersonPage.User.Present.Status' | translate }}</mat-card-subtitle>
            <mat-card-title>
                {{ (user?.isActive ? 'PersonPage.User.Active' : 'PersonPage.User.Inactive') | translate }}
            </mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>{{ 'PersonPage.User.Present.Roles' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                @for (role of user?.roles; track role) {
                    <li class="role">{{ role.name }}</li>
                }
            </ul>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>{{ 'PersonPage.User.Present.Permissions' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                @for (permission of user?.customPermissions; track permission) {
                    <li class="permission">{{ permission }}</li>
                } @empty {
                    {{ 'NoData' | translate }}
                }
            </ul>
        </mat-card-content>
    </mat-card>
</div>
