<h1>
    @if (person()) {
        {{ 'PersonPage.EditData' | translate }}
    } @else {
        {{ 'PersonPage.AddPerson' | translate }}
    }
</h1>

<form (appSubmit)="submitForm()">
    <app-trimmed-text-input
            [placeholder]="'PersonPage.Form.LastNamePlaceholder' | translate"
            [label]="'PersonPage.Form.LastName' | translate"
            [formField]="form.lastName"/>

    <app-trimmed-text-input
            [label]=" 'PersonPage.Form.FirstName' | translate"
            [placeholder]="'PersonPage.Form.FirstNamePlaceholder' | translate"
            [formField]="form.firstName"/>

    <app-trimmed-text-input
            [label]=" 'PersonPage.Form.Email' | translate"
            [placeholder]="'PersonPage.Form.EmailPlaceholder' | translate"
            [formField]="form.email"/>

    <app-trimmed-text-input
            [label]=" 'PersonPage.Form.Phone' | translate"
            [placeholder]="'PersonPage.Form.PhonePlaceholder' | translate"
            [formField]="form.phone">
    </app-trimmed-text-input>

    <mat-form-field>
        <mat-label>{{ 'PersonPage.Form.OperationCities' | translate }}</mat-label>
        <mat-select [formField]="form.cities" [multiple]="true">
            @for (city of cityOptions; track city) {
                <mat-option [value]="city">{{ 'OperationCities.' + city | translate }}</mat-option>
            }
        </mat-select>
        <mat-error [fField]="form.cities"/>
    </mat-form-field>

    <div class="button-row">
        <button mat-flat-button color="accent">
            {{ 'SaveButton' | translate }}
        </button>
        <button mat-stroked-button color="primary" type="button" (click)="cancelEditing()">
            {{ 'CancelButton' | translate }}
        </button>
    </div>
</form>
