<h1>
    @if (department()) {
        {{ 'DepartmentPage.EditData' | translate }}
    } @else {
        {{ 'DepartmentPage.Add' | translate }}
    }
</h1>

<form (appSubmit)="submitForm()">
    <mat-form-field>
        <mat-label>{{ 'DepartmentPage.Form.Name' | translate }}</mat-label>
        <input matInput [formField]="form.name"
               [placeholder]="'DepartmentPage.Form.NamePlaceholder' | translate">
        <mat-error [fField]="form.name"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'DepartmentPage.Form.Address' | translate }}</mat-label>
        <input matInput [formField]="form.address"
               [placeholder]="'DepartmentPage.Form.AddressPlaceholder' | translate">
        <mat-error [fField]="form.address"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'DepartmentPage.Form.City' | translate }}</mat-label>
        <mat-select [formField]="form.city">
            @for (city of cityOptions; track city) {
                <mat-option [value]="city">{{ 'OperationCities.' + city | translate }}</mat-option>
            }
        </mat-select>
        <mat-error [fField]="form.city"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'DepartmentPage.Form.ValidFrom' | translate }}</mat-label>
        <input matInput
               [matDatepicker]="validFromPicker"
               (click)="validFromPicker.open()"
               [max]="maxDate()"
               [placeholder]="'Datepicker.DatePlaceholder' | translate"
               [formField]="form.validFrom">
        <mat-datepicker-toggle matIconSuffix [for]="validFromPicker"/>
        <mat-datepicker #validFromPicker />
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'DepartmentPage.Form.ValidTo' | translate }}</mat-label>
        <input matInput
               [matDatepicker]="validToPicker"
               (click)="validToPicker.open()"
               [min]="minDate()"
               [placeholder]="'Datepicker.DatePlaceholder' | translate"
               [formField]="form.validTo">
        <mat-datepicker-toggle matIconSuffix [for]="validToPicker"/>
        <mat-datepicker #validToPicker />
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'DepartmentPage.Form.DiseasesInfo' | translate }}</mat-label>
        <textarea matInput
                  [formField]="form.diseasesInfo"
                  [placeholder]="'DepartmentPage.Form.DiseasesInfoPlaceholder' | translate">
            </textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'DepartmentPage.Form.Note' | translate }}</mat-label>
        <textarea matInput
                  [formField]="form.note"
                  [placeholder]="'DepartmentPage.Form.NotePlaceholder' | translate">
            </textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'DepartmentPage.Form.LimitOfVisits' | translate }}</mat-label>
        <input matInput [formField]="form.limitOfVisits" type="number"/>
        <mat-error [fField]="form.limitOfVisits"/>
    </mat-form-field>

    <mat-card>
        <mat-checkbox [formField]="form.vicariousMomIncludedInLimit">
            {{ 'DepartmentPage.Form.VicariousMomIncludedInLimit' | translate }}
        </mat-checkbox>
    </mat-card>

    <div class="button-row">
        <button mat-flat-button color="accent" [disabled]="form().submitting()">
            {{ 'SaveButton' | translate }}
        </button>
        <button mat-stroked-button color="primary" type="button"
                [disabled]="form().submitting()"
                (click)="cancelEditing()">
            {{ 'CancelButton' | translate }}
        </button>
    </div>
</form>
