<h1>
    @if (department()) {
        {{ 'DepartmentPage.EditData' | translate }}
    } @else {
        {{ 'DepartmentPage.Add' | translate }}
    }
</h1>

<form (appSubmit)="submitForm()">

    <div>
        <app-trimmed-text-input [formField]="form.name"
                                [label]=" 'DepartmentPage.Form.Name' | translate"
                                [placeholder]="'DepartmentPage.Form.NamePlaceholder' | translate"/>
    </div>

    <div>
        <app-trimmed-text-input [formField]="form.address"
                                [label]=" 'DepartmentPage.Form.Address' | translate"
                                [placeholder]="'DepartmentPage.Form.AddressPlaceholder' | translate"/>
    </div>

    <div>
        <mat-form-field>
            <mat-label>{{ 'DepartmentPage.Form.City' | translate }}</mat-label>
            <mat-select [formField]="form.city">
                @for (city of cityOptions; track city) {
                    <mat-option [value]="city">{{ 'OperationCities.' + city | translate }}</mat-option>
                }
            </mat-select>
            <mat-error [fField]="form.city"/>
        </mat-form-field>
    </div>

    <div>
        <mat-label>{{ 'DepartmentPage.Form.ValidFrom' | translate }}*</mat-label>
        <ngxsmk-datepicker [formField]="form.validFrom"
                           [class.invalid]="form.validFrom().invalid() && form.validFrom().touched()"
                           [maxDate]="maxDate()"
                           locale="hu"
                           [placeholder]="'Datepicker.DatePlaceholder' | translate"/>
        <mat-error [fField]="form.validFrom"/>
    </div>

    <div>
        <mat-label>{{ 'DepartmentPage.Form.ValidTo' | translate }}</mat-label>
        <ngxsmk-datepicker [formField]="form.validTo"
                           [minDate]="minDate()"
                           locale="hu"
                           [showCalendarButton]="true"
                           [placeholder]="'Datepicker.DatePlaceholder' | translate"/>
        <mat-error [fField]="form.validTo"/>
    </div>

    <div>
        <mat-form-field>
            <mat-label>{{ 'DepartmentPage.Form.DiseasesInfo' | translate }}</mat-label>
            <textarea matInput
                      [formField]="form.diseasesInfo"
                      [placeholder]="'DepartmentPage.Form.DiseasesInfoPlaceholder' | translate">
            </textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>{{ 'DepartmentPage.Form.Note' | translate }}</mat-label>
            <textarea matInput
                      [formField]="form.note"
                      [placeholder]="'DepartmentPage.Form.NotePlaceholder' | translate">
            </textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>{{ 'DepartmentPage.Form.LimitOfVisits' | translate }}</mat-label>
            <input matInput [formField]="form.limitOfVisits" type="number"/>
            <mat-error [fField]="form.limitOfVisits"/>
        </mat-form-field>
    </div>

    <mat-card>
        <mat-checkbox [formField]="form.vicariousMomIncludedInLimit">
            {{ 'DepartmentPage.Form.VicariousMomIncludedInLimit' | translate }}
        </mat-checkbox>
    </mat-card>

    <div class="button-row">
        <button mat-flat-button color="accent" [disabled]="form().submitting()">
            {{ 'SaveButton' | translate }}
        </button>
        <button mat-stroked-button color="primary" type="button"
                [disabled]="form().submitting()"
                (click)="cancelEditing()">
            {{ 'CancelButton' | translate }}
        </button>
    </div>
</form>
