
form {
    mat-form-field {
        width: 100%;
    }

    .button-row {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;

        button {
            margin-right: .5rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
