<section>
    <div class="page-content">
        @let userValue = user();
        @let personValue = person();
        @let userSettingsValue = userSettings();
        @if (userValue && personValue && userSettingsValue) {
            @if (editMode()) {
                <app-my-profile-editor [user]="userValue" [person]="personValue" [userSettings]="userSettingsValue"
                                       (submitted)="setSavedPerson($event)" (editEnded)="cancelEdit()"/>
            } @else {
                <div>
                    <app-my-profile-present [person]="personValue" [user]="userValue" [userSettings]="userSettingsValue"/>
                </div>
                @if (canWriteSelf()) {
                    <div class="button-row">
                        <button mat-stroked-button color="primary" (click)="switchToEdit()">
                            {{ 'Edit' | translate }}
                        </button>
                    </div>
                }
            }
        }
    </div>
</section>