<app-filler-activity-card *ngIf="!edit"
                          [activity]="activity"
                          [childrenById]="childrenById"
                          (removeWanted)="removeActivity()"
                          (editWanted)="changeToEdit()">
</app-filler-activity-card>

<app-filler-activity-editor *ngIf="edit"
                            [activity]="activity"
                            [childrenById]="childrenById"
                            (editDone)="endEdit()">
</app-filler-activity-editor>
