<div>
    <mat-form-field>
        <mat-label>{{ 'Visit.Connections.Create.ConnectionId' | translate }}</mat-label>
        <input matInput [formField]="innerForm.id"/>
    </mat-form-field>
</div>

@let connectionCandidateValue = connectionCandidate();
@if (connectionCandidateValue) {
    <div>
        <app-visit-connected-visit [visit]="connectionCandidateValue" [removeEnable]="false"/>
    </div>
}

<div class="button-row">
    <button mat-flat-button
            [disabled]="innerForm.id().invalid()"
            color="accent" type="button"
            (click)="submitVisit()">
        {{ 'SaveButton' | translate }}
    </button>
</div>