<section>
    <div class="page-content">
        <img src="./assets/logo.svg" alt="Logo image">

        <form (appSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>{{ 'LoginPage.Form.UserName' | translate }}</mat-label>
                <input matInput autocomplete="username"
                       [placeholder]="'LoginPage.Form.UserNamePlaceholder' | translate"
                       [formField]="loginForm.username">
                <mat-error [fField]="loginForm.username"/>
            </mat-form-field>

            <app-password-input [formField]="loginForm.password"
                                [label]="'LoginPage.Form.Password' | translate"
                                [placeholder]="'LoginPage.Form.PasswordPlaceholder' | translate"/>
            <div>
                <button mat-flat-button color="accent" [disabled]="loading()">
                    {{ 'LoginPage.Form.LoginButton' | translate }}
                </button>
            </div>
        </form>
    </div>
</section>
