@let visitValue = visit();
<div class="visit-info">
    <span class="status">
        <app-visit-status-icon [status]="visitValue.status" [tooltipDisabled]="false"/>
    </span>

    <span>
        <a class="link" [routerLink]="['/visits', visitValue.id]">
            <span>
                {{ visitValue.dateTimeFrom | date : ('TimeFormat' | translate) }}
                -
                {{ visitValue.dateTimeTo | date : ('TimeFormat' | translate) }}
            </span>
            <span class="department">
                {{ visitValue.department.name }}
            </span>
        </a>
    </span>

    <span class="participants">
        @for (participant of visitValue.participants; track participant.id) {
            <a class="link inline-list-item" [routerLink]="['/people', participant.id]">
<!--                Should be inline because of the comma in ::after -->
                {{ participant | personName }}</a>
        }
    </span>
</div>
<div>
    @if (permissions.has(Permission.canWriteVisitConnections) && removeEnable()) {
        <span class="delete">
            <button mat-mini-fab color="accent" type="button"
                    (click)="delete.emit()">
                <mat-icon>delete</mat-icon>
            </button>
        </span>
    }
</div>