form {
    mat-form-field {
        width: 100%;
    }

    .chip-selector {

        .select-opener {
            position: absolute;
            right: 0;
            top: calc(50% - 20px);
        }

        mat-select {
            visibility: hidden;
            width: 0;
        }
    }
}
