<div class="events-filter">
    <div class="date-interval-filter-card">
        <mat-card>
            <mat-card-content>
                <div class="date-interval-filter" (click)="picker.open()">
                    <span class="interval">
                        {{ filters.dateFrom | date : ('EventShortDateFormat' | translate) }}
                        -
                        {{ filters.dateTo | date : ('EventShortDateFormat' | translate) }}
                    </span>
                    <span class="picker">
                        <mat-date-range-input class="hidden" [rangePicker]="picker">
                            <input matStartDate [(ngModel)]="filters.dateFrom">
                            <input matEndDate [(ngModel)]="filters.dateTo">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"/>
                        <mat-date-range-picker #picker (closed)="filterSet()"
                                               [touchUi]="mobileScreen"/>
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="participants-filter">
        <app-person-select [label]="'PersonPage.EventListSettings.Participants' | translate"
                           [(ngModel)]="filters.participantIds"
                           (ngModelChange)="filterSet()"/>
    </div>

    <div class="status-filter">
        <mat-form-field>
            <mat-label>{{ 'PersonPage.EventListSettings.Statuses' | translate }}</mat-label>
            <mat-select [(ngModel)]="filters.statuses" (ngModelChange)="filterSet()" multiple>
                @for (option of statusOptions;track option) {
                    <mat-option [value]="option">{{ 'HospitalVisitStatus.' + option | translate }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div class="department-filter">
        <mat-form-field>
            <mat-label>{{ 'PersonPage.EventListSettings.Departments' | translate }}</mat-label>
            <mat-select [(ngModel)]="filters.departmentIds" (ngModelChange)="filterSet()" multiple>
                @for (option of departmentOptions; track option.id) {
                    <mat-option [value]="option.id"> {{ option.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div class="need-highlight-card">
        <mat-card>
            <mat-card-subtitle>
                <mat-checkbox [(ngModel)]="preferences.needHighlight" (ngModelChange)="preferenceSet()">
                    {{ 'PersonPage.EventListSettings.NeedHighlight' | translate }}
                </mat-checkbox>
            </mat-card-subtitle>
        </mat-card>
    </div>

</div>
