.events-filter {

    .date-interval-filter {

        mat-date-range-input {
            display: inline-block;
            width: 0;
        }

        .interval {
            font-size: medium;
        }

        .text-filter {
            display: inline-block;
        }

    }

    .participants-filter, .status-filter, .department-filter, .need-highlight-card {
        width: 100%;
    }

    .status-filter, .department-filter {
        mat-form-field {
            width: 100%;
        }
    }
}
