.activity-card {
    margin-bottom: 1rem;
}

.activity-card-content {
    padding: 0;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0;
}

.date-time {
    margin-right: .5rem;
}

:host ::ng-deep .activities-info {

    .children-info, .activity-info {
        .mat-expansion-panel-body {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
    }
}