<div *ngIf="visits" class="related-visit-list">
    <div *ngFor="let activity of visits" class="related-visit-list-item">
        <mat-card class="related-visit-card">
            <mat-card-header>
                <mat-card-subtitle>
                    <span class="date-time">
                        {{ activity.hospitalVisit.dateTimeFrom | date : ('EventDateFormat' | translate) }}
                    </span>

                    <span class="participants">
                        <span *ngFor="let participant of activity.hospitalVisit.participants; let last = last"
                              class="participant">
                            <span class="nowrap">{{ participant | personName }}</span><span *ngIf="!last">, </span>
                        </span>
                    </span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="visit-card-content">
                <app-related-visit [wrappedActivity]="activity"></app-related-visit>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="!visits.length">{{ 'HospitalVisit.NoRelatedActivities' | translate }}</div>
</div>

<div *ngIf="loading" class="loading-spinner">
    <mat-spinner color="accent" diameter="50"></mat-spinner>
</div>
