<ng-container *ngIf="visits">
    <ng-container *ngFor="let activity of visits">
        <mat-card class="activity-card">
            <mat-card-header>
                <mat-card-subtitle>
                    <span class="date-time">
                        {{ activity.hospitalVisit.dateTimeFrom | date : ('EventDateFormat' | translate) }}
                        {{ activity.hospitalVisit.dateTimeFrom | date : ('TimeFormat' | translate) }}
                        -
                        {{ activity.hospitalVisit.dateTimeTo | date : ('TimeFormat' | translate) }}
                    </span>

                    <span *ngFor="let participant of activity.hospitalVisit.participants; let last = last"
                          class="participants">
                        {{ participant | personName }}
                        <span *ngIf="!last">, </span>
                    </span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="activity-card-content">
                <app-related-visit [wrappedActivity]="activity"></app-related-visit>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <div *ngIf="!visits.length">
        {{ 'HospitalVisit.NoRelatedActivities' | translate }}
    </div>
</ng-container>
