
.related-visit-list {

    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

    .related-visit-list-item {

        flex: 0 0 auto;
        margin: 0 .5rem;

        width: 50%;
        @media screen and (max-width: 1000px) {
            width: 75%;
        }
        @media screen and (max-width: 600px) {
            width: 90%;
        }

        .date-time {
            margin-right: .5rem;
        }


        .related-visit-card {
            margin-bottom: .5rem;
        }
    }

}

.loading-spinner {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}
