<mat-card>
    <mat-card-content>
        <form (appSubmit)="submitForm()">
            <app-child-select [options]="children()"
                              [label]="'Visit.Activities.Children' | translate"
                              [date]="visitDate()"
                              [formField]="form.children"
                              (childrenSelected)="lockChildren($event)"
                              (childrenUnselected)="unlockChildren($event)"/>

            <app-activity-select [options]="activityTypeOptions"
                                 [formField]="form.activities"
                                 [label]="'Visit.Activities.Activities' | translate"/>

            <mat-form-field>
                <mat-label>{{ 'Visit.Activities.Comment' | translate }}</mat-label>
                <textarea type="text" matInput
                          [placeholder]="'Visit.Activities.CommentPlaceholder' | translate"
                          [formField]="form.comment"></textarea>
            </mat-form-field>

            <div class="button-row">
                <button mat-flat-button color="accent"
                        [disabled]="form().submitting()">
                    {{ 'SaveButton' | translate }}
                </button>
                <button mat-stroked-button color="primary" type="button"
                        [disabled]="form().submitting()"
                        (click)="cancelEditing()">
                    {{ 'CancelButton' | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

