<div class="children-header">
    <h1>{{ 'ChildrenList.ChildrenList' | translate }}</h1>
    @if (permissions.has(Permission.canWriteChild)) {
        <span class="add-btn">
            <button mat-mini-fab color="accent" (click)="creatorToggled()">
                @if (creatingInProcess) {
                    <mat-icon>close</mat-icon>
                } @else {
                    <mat-icon>add</mat-icon>
                }
            </button>
        </span>
    }
</div>

@if (creatingInProcess) {
    <div class="child-create">
        <app-filler-child-create (creationEnded)="creatorToggled(false)"/>
    </div>
}

<div class="children-list">
    @if (children$ | async; as children) {
        @for (child of children; track child.id) {
            <div class="child-item">
                <app-filler-child-item [child]="child"/>
            </div>
        } @empty {
            <div class="empty-list">
                {{ 'ChildrenList.NoChildYet' | translate }}
            </div>
        }
    }
</div>
