@if (isDataShouldPresent()) {
    @if (needWarningOnActivitiesWhenStarted()) {
        <div>{{ 'Visit.WarningOnActivityPresenterWhileStarted' | translate }}</div>
    }
    @if (needWarningOnActivitiesWhenFailed()) {
        <div class="fail-message">{{ 'Visit.WarningOnActivityPresenterWhileActivitiesShouldNotBeThere' | translate }}</div>
    }
    <div [ngClass]="getStyleNgClasses()">
        <div class="children">
            <h1>{{ 'Visit.Activities.Children' | translate }}</h1>
            <app-children-list [children]="children" [visitDate]="visitDate"/>
        </div>
        <div class="activities">
            <h1>{{ 'Visit.Activities.Activities' | translate }}</h1>
            <app-visit-activities-list [childrenById]="childrenById"
                                       [activities]="activities"/>
        </div>
        <div class="info">
            <h1>{{ 'Visit.Activities.Information' | translate }}</h1>
            <app-visit-activity-information [info]="information"/>
        </div>
        <div class="box-info">
            <h1>{{ 'Visit.Activities.BoxInfo' | translate }}</h1>
            <app-box-info-list-by-visit [visitId]="visit().id"/>
        </div>
    </div>
}
