
.role-create {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem;

    .role-name, .role-type, .role-permission {
        width: 30%;
    }

    .role-name {
    }

    .role-type {

    }

    .role-permission {
        ::ng-deep {
            .mat-mdc-select-value, .mat-mdc-select-value-text {
                width: unset;
                overflow: unset;
                text-overflow: unset;
                white-space: unset;
            }
        }
    }

    .btns {
        width: 10%;
        opacity: .7;
    }


}