<app-lazy-input [label]="'PeopleListPage.Filter.Name' | translate"
                [formField]="form.name"/>

@if (needSensitiveFilter()) {
    <app-lazy-input [label]="'PeopleListPage.Filter.Email' | translate"
                    [formField]="form.email"/>

    <app-lazy-input [label]="'PeopleListPage.Filter.Phone' | translate"
                    [formField]="form.phone"/>
}

<mat-form-field>
    <mat-label>{{ 'PeopleListPage.Filter.City' | translate }}</mat-label>
    <mat-select [formField]="form.cities" multiple>
        @for (city of cityOptions; track city) {
            <mat-option [value]="city">{{ 'OperationCities.' + city | translate }}</mat-option>
        }
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>{{ 'PeopleListPage.Filter.Role' | translate }}</mat-label>
    <mat-select [formField]="form.roleNames" multiple>
        @for (role of roleOptions(); track role) {
            <mat-option [value]="role.name">{{ role.name }}</mat-option>
        }
    </mat-select>
</mat-form-field>

<mat-card>
    <mat-card-subtitle>
        <mat-checkbox [formField]="form.onlyActive">
            {{ 'PeopleListPage.Filter.IsActive' | translate }}
        </mat-checkbox>
    </mat-card-subtitle>
</mat-card>
