<mat-form-field class="chip-selector">
    <mat-label>{{ label }}</mat-label>
    <mat-chip-listbox>
        @for (patientInfo of children; track patientInfo.id) {
            <mat-chip-row (removed)="removeChild(patientInfo)">
                {{ patientInfo.child.name }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        }
    </mat-chip-listbox>
    <mat-select [ngModel]="children" (ngModelChange)="childrenChanged($event)" multiple>
        @for (option of options; track option.id) {
            <mat-option class="child-select-option" [value]="option">
                <span class="child-info">
                    <span class="name">{{ option.child.name }}</span>
                    <span *ngIf="date" class="age">({{ option.child | childAge : date }})</span>
                </span>
            </mat-option>
        }
    </mat-select>
</mat-form-field>
