<mat-form-field appearance="fill" class="chip-selector">
    <mat-label>{{ label }}</mat-label>
    <mat-chip-listbox>
        <mat-chip-row *ngFor="let patientInfo of children"
                      (removed)="removeChild(patientInfo)">
            {{ patientInfo.child.name }}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
    </mat-chip-listbox>
    <mat-select [ngModel]="children" (ngModelChange)="childrenChanged($event)" multiple>
        <mat-option *ngFor="let option of options"
                    class="child-select-option"
                    [value]="option">
            <span class="child-info">
                <span class="name">{{ option.child.name }}</span>
                <span *ngIf="date" class="age">({{ option.child | childAge : date }})</span>
            </span>
        </mat-option>
    </mat-select>
</mat-form-field>
