@if (!isEmpty()) {
    <div class="box-info-list">
        @for (boxInfo of boxInfoList;track boxInfo.id) {
            <div class="box-info">
                <app-department-box-info [boxStatus]="boxInfo"></app-department-box-info>
            </div>
        }

        @if (paginatorNeeded) {
            <mat-paginator [length]="countOfAll"
                           [pageIndex]="page - 1"
                           [pageSize]="size"
                           [pageSizeOptions]="sizeOptions"
                           (page)="paginateHappened($event)">
            </mat-paginator>
        }
    </div>
} @else {
    <span class="empty-list">
        {{ 'BoxStatus.NoStatusYet' | translate }}
    </span>
}
