<section>
    <div class="page-content">
        <div class="department-part">

            @if (!isEditMode()) {
                <app-department-data-presenter [department]="department"></app-department-data-presenter>
                @if (isEditEnabled()) {
                    <div class="button-row">
                        <button mat-stroked-button color="primary" (click)="switchToEdit()">
                            {{ 'Edit' | translate }}
                        </button>
                    </div>
                }
            }

            @if (isEditMode()) {
                <app-department-data-form [department]="department"
                                          (submitted)="saveDepartment($event)"
                                          (canceled)="cancelEditing()">
                </app-department-data-form>
            }
        </div>

        @if (department) {
            <div class="divider"></div>
            <app-box-info-manager-by-department [departmentId]="department.id"></app-box-info-manager-by-department>
        }
    </div>
</section>
