<ng-container *ngIf="activities">
    <ng-container *ngFor="let activity of activities">
        <mat-card class="activity-card">
            <mat-card-header>
                <mat-card-subtitle>
                    {{ activity.hospitalVisit.dateTimeFrom | date : ('EventDateFormat' | translate) }}
                    {{ activity.hospitalVisit.dateTimeFrom | date : ('TimeFormat' | translate) }}
                    -
                    {{ activity.hospitalVisit.dateTimeTo | date : ('TimeFormat' | translate) }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="activity-card-content">
                <app-visit-activities [visit]="activity.hospitalVisit"
                                      [wrappedActivities]="activity"
                                      [editEnabled]="false"></app-visit-activities>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <div *ngIf="!activities.length">
        {{ 'HospitalVisit.NoRelatedActivities' | translate }}
    </div>
</ng-container>
