<h1>
    @if (person) {
        {{ 'PersonPage.EditData' | translate }}
    } @else {
        {{ 'PersonPage.AddPerson' | translate }}
    }
</h1>

<form [formGroup]="form">

    <div>
        <app-trimmed-text-input
                [placeholder]="'PersonPage.Form.LastNamePlaceholder' | translate"
                [label]="'PersonPage.Form.LastName' | translate"
                formControlName="lastName"></app-trimmed-text-input>
    </div>

    <div>
        <app-trimmed-text-input
                [label]=" 'PersonPage.Form.FirstName' | translate"
                [placeholder]="'PersonPage.Form.FirstNamePlaceholder' | translate"
                formControlName="firstName">
        </app-trimmed-text-input>
    </div>

    <div>
        <app-trimmed-text-input
                [label]=" 'PersonPage.Form.Email' | translate"
                [placeholder]="'PersonPage.Form.EmailPlaceholder' | translate"
                formControlName="email">
        </app-trimmed-text-input>
    </div>

    <div class="email-preference-card">
        <mat-card class="form-card">
            <mat-card-content class="preferences-card-content">
                <mat-checkbox formControlName="canVolunteerSeeMyEmail"></mat-checkbox>
                <span class="preference-name">{{ 'PersonPage.Form.CanVolunteerSeeMyEmail' | translate }}</span>
                @if (selfEdit) {
                    <span class="preference-description">
                        {{ 'PersonPage.Form.CanVolunteerSeeMyEmailDescription' | translate }}
                    </span>
                }
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <app-trimmed-text-input
                [label]=" 'PersonPage.Form.Phone' | translate"
                [placeholder]="'PersonPage.Form.PhonePlaceholder' | translate"
                formControlName="phone">
        </app-trimmed-text-input>
    </div>

    <div class="phone-preference-card">
        <mat-card class="form-card">
            <mat-card-content class="preferences-card-content">
                <mat-checkbox formControlName="canVolunteerSeeMyPhone"></mat-checkbox>
                <span class="preference-name">{{ 'PersonPage.Form.CanVolunteerSeeMyPhone' | translate }}</span>
                @if (selfEdit) {
                    <span class="preference-description">
                        {{ 'PersonPage.Form.CanVolunteerSeeMyPhoneDescription' | translate }}
                    </span>
                }
            </mat-card-content>
        </mat-card>
    </div>

    <div class="button-row">
        <button mat-flat-button
                color="accent"
                (click)="onSubmit()"
                type="button">
            {{ 'SaveButton' | translate }}
        </button>
        <button mat-stroked-button
                color="primary"
                type="button"
                (click)="cancelEditing()">
            {{ 'CancelButton' | translate }}
        </button>
    </div>

</form>
