
form {
    mat-form-field {
        width: 100%;
    }

    .preference-description {
        display: block;
        font-weight: bolder;
        color: lightcoral;
    }

    .email-preference-card, .phone-preference-card {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .preferences-card-content {
        padding-left: 0;
        padding-right: 0;
    }

}
