<div class="box-part-header">
    <h1>{{ 'DepartmentPage.BoxStatuses' | translate }}</h1>
    <span class="add-btn">
        <button mat-mini-fab color="accent" (click)="creatorToggled()">
            @if (creatingInProcess) {
                <mat-icon>close</mat-icon>
            } @else {
                <mat-icon>add</mat-icon>
            }
        </button>
    </span>
</div>

@if (creatingInProcess) {
    <app-department-box-info-create [buttonsDisabled]="saveInProcess"
                                    (submitted)="saveStatusReport($event)"
                                    (canceled)="createCanceled()"/>
}

<div class="department-boxes-part">
    <app-box-info-list-by-visit [visitId]="visitId()"/>
</div>
