<h1>{{ 'PersonPage.MyProfile' | translate }}</h1>

<form (appSubmit)="submitPersonForm()">
    <app-trimmed-text-input [formField]="personForm.lastName"
                            [label]="'PersonPage.Form.LastName' | translate"
                            [placeholder]="'PersonPage.Form.LastNamePlaceholder' | translate"/>

    <app-trimmed-text-input [formField]="personForm.firstName"
                            [label]="'PersonPage.Form.FirstName' | translate"
                            [placeholder]="'PersonPage.Form.FirstNamePlaceholder' | translate"/>

    <app-trimmed-text-input [formField]="personForm.email"
                            [label]="'PersonPage.Form.Email' | translate"
                            [placeholder]="'PersonPage.Form.EmailPlaceholder' | translate"/>

    <div class="email-preference-card">
        <mat-card class="form-card">
            <mat-card-content class="preferences-card-content">
                <mat-checkbox [formField]="personForm.canVolunteerSeeMyEmail"/>
                <span class="preference-name">{{ 'PersonPage.Form.CanVolunteerSeeMyEmail' | translate }}</span>
                <span class="preference-description">
                      {{ 'PersonPage.Form.CanVolunteerSeeMyEmailDescription' | translate }}
                    </span>
            </mat-card-content>
        </mat-card>
    </div>

    <app-trimmed-text-input [formField]="personForm.phone"
                            [label]="'PersonPage.Form.Phone' | translate"
                            [placeholder]="'PersonPage.Form.PhonePlaceholder' | translate"/>

    <div class="phone-preference-card">
        <mat-card class="form-card">
            <mat-card-content class="preferences-card-content">
                <mat-checkbox [formField]="personForm.canVolunteerSeeMyPhone"/>
                <span class="preference-name">{{ 'PersonPage.Form.CanVolunteerSeeMyPhone' | translate }}</span>
                <span class="preference-description">
                        {{ 'PersonPage.Form.CanVolunteerSeeMyPhoneDescription' | translate }}
                    </span>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="button-row">
        <button mat-flat-button color="accent"
                [disabled]="isPersonFormBtnDisabled()"
                (click)="submitPersonForm()">
            {{ 'SaveButton' | translate }}
        </button>
    </div>
</form>

<div class="divider"></div>

<form (appSubmit)="submitUserForm()">
    <mat-form-field>
        <mat-label>{{ 'PersonPage.User.Form.UserName' | translate }}</mat-label>
        <input matInput type="text" autocomplete="username" [formField]="userForm.userName">
        <mat-error [fField]="userForm.userName"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'PersonPage.User.Form.Password' | translate }}</mat-label>
        <input matInput
               type="password"
               autocomplete="new-password"
               [placeholder]="'PersonPage.User.Form.PasswordPlaceholder' | translate"
               [formField]="userForm.password">
        <mat-hint>{{ 'PersonPage.User.Form.PasswordHint' | translate }}</mat-hint>
        <mat-error [fField]="userForm.password"/>
    </mat-form-field>

    <div class="button-row">
        <button mat-flat-button color="accent"
                [disabled]="isUserFormBtnDisabled()"
                (click)="submitUserForm()">
            {{ 'SaveButton' | translate }}
        </button>
    </div>
</form>

<div class="divider"></div>

<app-user-settings-editor [userId]="user().id" [settings]="userSettings()"/>

<div class="button-row">
    <button mat-stroked-button
            color="primary"
            type="button"
            [disabled]="isBackBtnDisabled()"
            (click)="cancelEditing()">
        {{ 'BackButton' | translate }}
    </button>
</div>
