<div class="activity-list-manager">
    <div class="activity-header">
        <span *ngIf="editEnabled" class="add-btn">
            <button mat-mini-fab color="accent" (click)="creatorToggled()">
                <mat-icon *ngIf="creatingInProcess">close</mat-icon>
                <mat-icon *ngIf="!creatingInProcess">add</mat-icon>
            </button>
        </span>
    </div>
    <app-visit-activity-create
            *ngIf="creatingInProcess"
            [children]="childrenList"
            [buttonsDisabled]="saveInProcess"
            (submitted)="createFinished($event)"
            (canceled)="createCanceled()"></app-visit-activity-create>

    <app-visit-activities-list [childrenById]="childrenById"
                               [activities]="activities"></app-visit-activities-list>
</div>
