form {
    mat-form-field {
        width: 100%;
    }

    .status-card {
        margin-bottom: .5rem;
    }

    .button-row {
        margin-top: .5rem;
        display: flex;
        justify-content: flex-end;

        button {
            margin-right: .5rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
