<mat-form-field>
    <mat-label>{{ label() }}</mat-label>
    <mat-chip-listbox>
        @for (person of people; track person.id) {
            <mat-chip-row (removed)="removePerson(person)">
                {{ person | personName }}
                @if (!disabled()) {
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                }
            </mat-chip-row>
        }
    </mat-chip-listbox>
    <mat-select [ngModel]="people"
                (ngModelChange)="selectChanged($event)"
                [disabled]="disabled()"
                multiple>
        <mat-option>
            <ngx-mat-select-search ngModel (ngModelChange)="filterChanged($event)"
                                   [placeholderLabel]="'Search' | translate"
                                   [noEntriesFoundLabel]="'NoItemFound' | translate"
            ></ngx-mat-select-search>
        </mat-option>
        @for (option of filteredOptions; track option.id) {
            <mat-option [value]="option">{{ option | personName }}</mat-option>
        }
    </mat-select>
</mat-form-field>
