@let visitedChildValue = visitedChild();
<mat-card>
    <mat-card-header>
        <mat-card-subtitle>
            <span>
                {{ visitedChildValue.child.name }}
                <span>({{ visitedChildValue.child | childAge : visitDate() }})</span>
                <app-parent-info-icon [isParentThere]="visitedChildValue.isParentThere"/>
            </span>

            @if (needCopyBtn()) {
                <button mat-mini-fab color="accent" (click)="copyChildToActualVisit()">
                    <mat-icon>content_copy</mat-icon>
                </button>
            }
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{ visitedChildValue.child.info }}
    </mat-card-content>
</mat-card>
