@let visitValue = visit();
<h1>
    <div>
        {{ 'Visit.Title' | translate }}
        <app-copier [value]="selfLink()"/>
    </div>
    <div>
        <app-copier [value]="visitValue.id" icon="flag" infoMsg="Visit.Present.IdCopied"/>
    </div>
</h1>

<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{ 'Visit.Present.Date' | translate }}</mat-card-subtitle>
        <mat-card-title>
            {{ visitValue.dateTimeFrom | date : ('EventDateFormat' | translate) }}
            {{ visitValue.dateTimeFrom | date : ('TimeFormat' | translate) }}
            -
            {{ visitValue.dateTimeTo | date : ('TimeFormat' | translate) }}
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{ 'Visit.Present.Place' | translate }}</mat-card-subtitle>
        <mat-card-title>
            <a class="link" [routerLink]="['/departments', visitValue.department.id]">
                {{ visitValue.department.name }}
            </a>
            <span class="department-address">
                    ({{ visitValue.department.address }})
                </span>
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{ 'Visit.Present.Participants' | translate }}</mat-card-subtitle>
        <mat-card-title>
            <mat-chip-listbox>
                @for (participant of visitValue.participants; track participant.id) {
                    <mat-chip-row [routerLink]="['/people', participant.id]">
                        {{ participant | personName }}
                    </mat-chip-row>
                }
            </mat-chip-listbox>
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{ 'Visit.Present.Status' | translate }}</mat-card-subtitle>
        <mat-card-title>
                <span [class]="'visit-status-' + visitValue.status">
                    {{ 'VisitStatuses.' + visitValue.status | translate }}
                </span>
            <span class="status-icon">
                    <app-visit-status-icon [status]="visitValue.status"/>
                </span>
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{ 'Visit.Present.Organizer' | translate }}</mat-card-subtitle>
        <mat-card-title>
            {{ visitValue.organizer | personName }}
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{ 'Visit.Present.CountedHours' | translate }}</mat-card-subtitle>
        <mat-card-title>
            {{ visitValue.countedMinutes | minToHour | optional }}
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{ 'Visit.Present.VicariousMomVisit' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{ 'YesNo.' + visitValue.vicariousMomVisit | translate }}</mat-card-content>
</mat-card>
