<div class="events-filter">
    <div class="date-interval-filter-card">
        <mat-card>
            <mat-card-content>
                <div class="date-interval-filter" (click)="picker.open()">
                    <span class="interval">
                        {{ filterForm.dateFrom().value() | date : ('EventShortDateFormat' | translate) }}
                        -
                        {{ filterForm.dateTo().value() | date : ('EventShortDateFormat' | translate) }}
                    </span>
                    <span class="picker">
                        <mat-date-range-input class="hidden" [rangePicker]="picker">
                            <input matStartDate [formField]="filterForm.dateFrom">
                            <input matEndDate [formField]="filterForm.dateTo">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"/>
                        <mat-date-range-picker #picker [touchUi]="mobileScreen"/>
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="participants-filter">
        <app-person-select [label]="'PersonPage.EventListSettings.Participants' | translate"
                           [formField]="filterForm.participantIds"/>
    </div>

    <div class="status-filter">
        <mat-form-field>
            <mat-label>{{ 'PersonPage.EventListSettings.Statuses' | translate }}</mat-label>
            <mat-select [formField]="filterForm.statuses" multiple>
                @for (option of statusOptions; track option) {
                    <mat-option [value]="option">{{ 'VisitStatuses.' + option | translate }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div class="department-filter">
        <mat-form-field>
            <mat-label>{{ 'PersonPage.EventListSettings.Departments' | translate }}</mat-label>
            <mat-select [formField]="filterForm.departmentIds" multiple>
                @for (option of departmentOptions(); track option.id) {
                    <mat-option [value]="option.id"> {{ option.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div class="need-highlight-card">
        <mat-card>
            <mat-card-subtitle>
                <mat-checkbox [formField]="preferencesForm.needHighlight">
                    {{ 'PersonPage.EventListSettings.NeedHighlight' | translate }}
                </mat-checkbox>
            </mat-card-subtitle>
        </mat-card>
    </div>

</div>
