.events-filter {

    .date-interval-filter-card {
        width: 100%;
        margin-bottom: 1rem;

        mat-card-content {
            padding-top: 0;
            padding-bottom: 0;
        }

        .date-interval-filter {

            display: flex;
            justify-content: space-between;

            mat-date-range-input {
                display: inline-block;
                width: 0;
            }

            .interval {
                font-size: medium;
                margin: auto 0;
            }
        }
    }

    .participants-filter, .status-filter, .department-filter, .need-highlight-card {
        width: 100%;
    }

    .status-filter, .department-filter {
        mat-form-field {
            width: 100%;
        }
    }
}
