version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.4

executors:
  ci-executor:
    docker:
      - image: cimg/node:20.9.0-browsers

jobs:
  build-test-lint:
    executor: ci-executor
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          name: Restore pnpm Package Cache
          keys:
            - pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
      - run:
          name: Install pnpm package manager
          command: |
            npm install pnpm@10.29.3
            pnpm config set store-dir .pnpm-store
      - run:
          name: Install Dependencies
          command: pnpm install
      - save_cache:
          name: Save pnpm Package Cache
          key: pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - .pnpm-store
      - run: sudo apt-get update
      - browser-tools/install-chrome
#          chrome-version: 116.0.5845.96 # TODO: remove until: https://github.com/CircleCI-Public/browser-tools-orb/issues/75
#          replace-existing: true # TODO: remove until: https://github.com/CircleCI-Public/browser-tools-orb/issues/75
      - browser-tools/install-chromedriver
      - run:
          name: Check install
          command: |
            google-chrome --version
            chromedriver --version
      - run:
          name: Build
          command: pnpm run build
      - run:
          name: Lint
          command: pnpm run lint
      - run:
          name: Tests
          command: pnpm run test

workflows:
  check-melluin:
    jobs:
      - build-test-lint
