<form (appSubmit)="submitSettings()">
    <app-home-page-option-selector [label]="'PersonPage.HomePageSettings.InMobile' | translate"
                                   [formField]="form.inMobile"/>

    <app-home-page-option-selector [label]="'PersonPage.HomePageSettings.InDesktop' | translate"
                                   [formField]="form.inDesktop"/>

    <div class="button-row">
        <button mat-flat-button color="accent"
                [disabled]="isSaveBtnDisabled()">
            {{ 'SaveButton' | translate }}
        </button>
    </div>
</form>
