@use '@angular/material' as mat;

.activities-info {
    .children, .activities, .box-info {
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 4px;
        @include mat.elevation(2);
    }
}
