@if (isDataShouldPresent()) {
    @if (needWarningOnActivitiesWhenStarted()) {
        <div>{{ 'HospitalVisit.WarningOnActivityPresenterWhileStarted' | translate }}</div>
    }
    @if (needWarningOnActivitiesWhenFailed()) {
        <div class="fail-message">{{ 'HospitalVisit.WarningOnActivityPresenterWhileActivitiesShouldNotBeThere' | translate }}</div>
    }
    <div [ngClass]="getStyleNgClasses()">
        <div class="children">
            <h1>{{ 'HospitalVisit.Activities.Children' | translate }}</h1>
            <app-children-list [children]="children" [visitDate]="visitDate"></app-children-list>
        </div>
        <div class="activities">
            <h1>{{ 'HospitalVisit.Activities.Activities' | translate }}</h1>
            <app-visit-activities-list [childrenById]="childrenById"
                                       [activities]="activities"></app-visit-activities-list>
        </div>
        <div class="box-info">
            <h1>{{ 'HospitalVisit.Activities.BoxInfo' | translate }}</h1>
            <app-box-info-list-by-visit [visitId]="visit.id"></app-box-info-list-by-visit>
        </div>
    </div>
}
