:host ::ng-deep .activities-info {
    .activity-header, .box-part-header, .children-manager-header {
        width: 100%;
        display: flex;
        justify-content: start;
        margin-bottom: .5rem;

        h1 {
            display: none !important;
        }

    }

    app-optional-box-info-creator .box-part-header .add-btn {
        margin-top: initial;
        width: 100%;
    }

    .empty-list {
        font-style: italic;
    }
}
