
.no-data {
    opacity: .4;
}

:host {

    .page-header {
        display: flex;
        justify-content: space-between;
    }

    ::ng-deep .is-user-icon {
        opacity: 0.7;
        font-size: large;
        vertical-align: middle;
        margin-left: 0.5rem;
    }

    ::ng-deep .settings-icon {
        opacity: .7;
    }

}
