form {

    .time-field > mat-form-field {
        width: 50%;
    }

    .vicarious-mom-visit-error {
        font-size: small;
    }

    .button-row {
        margin: .5rem 0 .5rem 0;

        mat-checkbox {
            margin-right: 1rem;
        }
    }
}
