@let visitValue = visit();
<mat-card>
    <mat-card-header>
        <mat-card-subtitle>
            {{ visitValue.dateTimeFrom | date : ('EventDateFormat' | translate) }}
            {{ visitValue.dateTimeFrom | date : ('TimeFormat' | translate) }}
            -
            {{ visitValue.dateTimeTo | date : ('TimeFormat' | translate) }}
            <app-visit-status-icon [status]="visitValue.status" [tooltipDisabled]="false"/>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h1>
            <a class="link" [routerLink]="['/visits', visitValue.id]">{{ visitValue.department.name }}</a>
        </h1>
        <h3>({{ visitValue.department.address }})</h3>

        <mat-chip-listbox>
            @for (participant of visitValue.participants; track participant.id) {
                <mat-chip-row [routerLink]="['/people', participant.id]">
                    {{ participant | personName }}
                </mat-chip-row>
            }
        </mat-chip-listbox>
    </mat-card-content>
</mat-card>
