<div class="user-detail">

    @if (needDataPresenter()) {
        <app-user-data-presenter [user]="user"></app-user-data-presenter>
        <div class="button-row">
            @if (editEnabled()) {
                <button mat-stroked-button color="primary" (click)="switchToEdit()">
                    {{ 'Edit' | translate }}
                </button>
            }
        </div>
    }

    @if (!user && !createModeOn && permissions.has(Permission.canCreateUser)) {
        <div class="button-row">
            <button mat-stroked-button color="primary" (click)="switchToCreate()">
                {{ 'PersonPage.User.NewUser' | translate }}
            </button>
        </div>
    }

    @if (createModeOn) {
        <app-user-creation-form [personId]="personId()"
                                (submitted)="createUser($event)"
                                (canceled)="cancelEditing()"/>
    }
    @if (editModeOn) {
        <app-user-edit-form [user]="user"
                            (submitted)="updateUser($event)"
                            (canceled)="cancelEditing()"/>
    }

</div>
