<section>
    <div class="page-content">
        <img src="./assets/logo.svg">

        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'LoginPage.Form.UserName' | translate }}</mat-label>
                <input matInput
                       [placeholder]="'LoginPage.Form.UserNamePlaceholder' | translate"
                       [(ngModel)]="userName">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'LoginPage.Form.Password' | translate }}</mat-label>
                <input matInput
                       [placeholder]="'LoginPage.Form.PasswordPlaceholder' | translate"
                       [(ngModel)]="password"
                       type="password">
            </mat-form-field>
        </p>

        <div>
            <button mat-flat-button color="accent"
                    [disabled]="loading" (click)="onSubmit()">
                {{ 'LoginPage.Form.LoginButton' | translate }}
            </button>
        </div>
    </div>
</section>
