<section>
    <div class="page-content">
        <img src="./assets/logo.svg">

        <form>
            <app-trimmed-text-input [(ngModel)]="userName"
                                    [ngModelOptions]="{standalone: true}"
                                    [label]="'LoginPage.Form.UserName' | translate"
                                    [placeholder]="'LoginPage.Form.UserNamePlaceholder' | translate"
                                    autocomplete="username">
            </app-trimmed-text-input>

            <app-trimmed-text-input [(ngModel)]="password"
                                    [ngModelOptions]="{standalone: true}"
                                    [label]="'LoginPage.Form.Password' | translate"
                                    [placeholder]="'LoginPage.Form.PasswordPlaceholder' | translate"
                                    autocomplete="current-password"
                                    type="password">
            </app-trimmed-text-input>

            <div>
                <button mat-flat-button
                        type="button"
                        color="accent"
                        [disabled]="loading"
                        (click)="onSubmit()">
                    {{ 'LoginPage.Form.LoginButton' | translate }}
                </button>
            </div>
        </form>
    </div>
</section>
