<div class="event-list-settings">
    @if (form) {
        <form *ngIf="form" [formGroup]="form">

            <div class="date-interval-selector">
                <mat-form-field>
                    <mat-label>{{ 'PersonPage.EventListSettings.Date' | translate }}</mat-label>
                    <mat-select formControlName="dateFilter">
                        <mat-option [value]="undefined">-</mat-option>
                        @for (option of dateOptions; track option) {
                            <mat-option [value]="option">{{ 'DateIntervalSpecifier.' + option | translate }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="participant-selector">
                <app-person-select [label]="'PersonPage.EventListSettings.Participants' | translate"
                                   formControlName="participantIds"></app-person-select>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>{{ 'PersonPage.EventListSettings.Statuses' | translate }}</mat-label>
                    <mat-select formControlName="statuses" multiple>
                        @for (option of statusOptions; track option) {
                            <mat-option [value]="option">{{ 'HospitalVisitStatus.' + option | translate }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>{{ 'PersonPage.EventListSettings.Departments' | translate }}</mat-label>
                    <mat-select formControlName="departmentIds" multiple>
                        @for (option of departmentOptions; track option) {
                            <mat-option [value]="option.id">{{ option.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="need-highlight-card">
                <mat-card>
                    <mat-card-subtitle>
                        <mat-checkbox formControlName="needHighlight">
                            {{ 'PersonPage.EventListSettings.NeedHighlight' | translate }}
                        </mat-checkbox>
                    </mat-card-subtitle>
                </mat-card>
            </div>

            <div class="button-row">
                <button mat-flat-button
                        color="accent"
                        [disabled]="isSaveBtnDisabled()"
                        (click)="submit()"
                        type="button">
                    {{ 'SaveButton' | translate }}
                </button>
            </div>

        </form>
    }
</div>
