<section>
    <div class="page-content">
        @let departmentValue = department();
        <div class="department-part">

            @if (!isEditMode()) {
                <app-department-data-presenter [department]="departmentValue"/>
                @if (isEditEnabled()) {
                    <div class="button-row">
                        <button mat-stroked-button color="primary" (click)="switchToEdit()">
                            {{ 'Edit' | translate }}
                        </button>
                    </div>
                }
            }

            @if (isEditMode()) {
                <app-department-data-form [department]="departmentValue"
                                          (submitted)="setDepartment($event)"
                                          (canceled)="cancelEditing()"/>
            }
        </div>

        @if (departmentValue) {
            <div class="divider"></div>
            <app-box-info-manager-by-department [departmentId]="departmentValue.id"/>
        }
    </div>
</section>
