<mat-card *ngIf="visitedChild">
    <mat-card-header>
        <mat-card-subtitle>
            <span class="child-info">
                {{ visitedChild.child.name }}
                <span class="nowrap">
                    <span *ngIf="ageMonths !== 0">
                        ({{ 'ChildCard.Age' | translate : {year: ageYear, months: ageMonths} }})
                    </span>
                    <span *ngIf="ageMonths === 0">
                        ({{ 'ChildCard.AgeWithoutMonth' | translate : {year: ageYear} }})
                    </span>
                    <app-parent-info-icon [isParentThere]="visitedChild.isParentThere"></app-parent-info-icon>
                </span>

            </span>
            <span class="operation-btns">
                <span class="operation-btn edit-btn">
                    <button mat-mini-fab color="accent" (click)="editWanted.emit()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </span>
                <span class="operation-btn delete-btn">
                    <button *ngIf="deleteEnabled$ | async"
                            mat-mini-fab color="accent" (click)="removeWanted.emit()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{ visitedChild.child.info }}
    </mat-card-content>
</mat-card>
