<div class="user-settings">
    <h1>{{ 'PersonPage.Settings' | translate }}</h1>

    <mat-tab-group dynamicHeight>
        <mat-tab [label]="'PersonPage.EventListSettings.Title' | translate">
            <app-user-event-list-settings-editor [userId]="userId" [settings]="settings">
            </app-user-event-list-settings-editor>
        </mat-tab>
        <mat-tab [label]="'PersonPage.HomePageSettings.Title' | translate">
            <app-user-home-page-settings-editor [userId]="userId" [settings]="settings">
            </app-user-home-page-settings-editor>
        </mat-tab>
        <mat-tab [label]="'PersonPage.DepartmentBoxesWidgetSettings.Title' | translate">
            <app-user-department-box-widget-settings [userId]="userId" [settings]="settings">
            </app-user-department-box-widget-settings>
        </mat-tab>
    </mat-tab-group>
</div>
