<mat-form-field>
    <mat-label>{{ label() }}</mat-label>
    <input matInput
           [attr.autocomplete]="autocomplete()"
           [attr.type]="type()"
           [placeholder]="placeholder()"
           [formField]="innerForm.innerValue">

    <button matSuffix matIconButton
            [style.color]="'dimgrey'"
            type="button" (click)="changeType()">
        @if (passwordType()) {
            <mat-icon>visibility</mat-icon>
        } @else {
            <mat-icon>visibility_off</mat-icon>
        }
    </button>

    @if (hint()) {
        <mat-hint>{{ hint() }}</mat-hint>
    }

    <mat-error>
        @for (error of errors(); track error.message) {
            <span>{{ error.message }}</span>
        }
    </mat-error>
</mat-form-field>