@let userValue = user();

@if (needDataPresenter()) {
    <app-user-data-presenter [user]="userValue"></app-user-data-presenter>
    <div class="button-row">
        @if (editEnabled()) {
            <button mat-stroked-button color="primary" (click)="switchToEdit()">
                {{ 'Edit' | translate }}
            </button>
        }
    </div>
}

@if (needNewUserButton()) {
    <div class="button-row">
        <button mat-stroked-button color="primary" (click)="switchToEdit()">
            {{ 'PersonPage.User.NewUser' | translate }}
        </button>
    </div>
}

@if (isEdit()) {
    <app-user-edit-form [user]="userValue"
                        [personId]="personId()"
                        (submitted)="setSavedUser($event)"
                        (canceled)="cancelEditing()"/>
}
