form {
    mat-form-field {
        width: 100%;
    }

    .time-field > mat-form-field {
        width: 50%;
    }

    .participant-selector {

        mat-select {

            visibility: hidden;
            width: 0;
        }
    }

    .button-row {
        display: flex;
        justify-content: flex-end;

        button {
            margin-right: .5rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
