<mat-card *ngIf="patientInfo">
    <mat-card-header>
        <mat-card-subtitle>
            {{ patientInfo.child.name }}
            <span *ngIf="ageMonths !== 0">({{ 'ChildCard.Age' | translate : {year: ageYear, months: ageMonths} }})</span>
            <span *ngIf="ageMonths === 0">({{ 'ChildCard.AgeWithoutMonth' | translate : {year: ageYear} }})</span>

            <app-parent-info-icon *ngIf="needParentInfo()" [isParentThere]="patientInfo.isParentThere">
            </app-parent-info-icon>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{ patientInfo.child.info }}
    </mat-card-content>
</mat-card>