<section>
    <div class="page-content">

        <div class="person-part">
            @if (isEditMode()) {
                <app-person-data-form [person]="person"
                                      (submitted)="savePerson($event)"
                                      (canceled)="cancelEditing()">
                </app-person-data-form>
            } @else {
                <app-person-data-presenter [person]="person"></app-person-data-presenter>
                <div class="button-row">
                    @if (isEditEnabled) {
                        <button mat-stroked-button color="primary" (click)="switchToEdit()">
                            {{ 'Edit' | translate }}
                        </button>
                    }
                </div>
            }
        </div>

        @if (person) {
            <div class="divider"></div>
            <div class="user-part">
                <app-user-detail [personId]="person.id"
                                 [userId]="person.user?.id"
                                 [editEnabled]="isEditEnabled"></app-user-detail>
            </div>
        }

    </div>
</section>
