<mat-form-field appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <mat-chip-listbox>
        <mat-chip-row *ngFor="let person of people"
                      (removed)="removePerson(person)">
            {{ person | personName }}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
    </mat-chip-listbox>
    <mat-select [ngModel]="people"
                (ngModelChange)="selectChanged($event)"
                multiple>
        <mat-option>
            <ngx-mat-select-search ngModel (ngModelChange)="filterChanged($event)"
                                   [placeholderLabel]="'Search' | translate"
                                   [noEntriesFoundLabel]="'NoItemFound' | translate"
            ></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
            {{ option | personName }}
        </mat-option>
    </mat-select>
</mat-form-field>