<mat-card>
    <mat-card-content>
        <form [formGroup]="form">

            <ng-container *ngIf="children$ | async as children">
                <app-child-select [options]="children"
                                  formControlName="children"
                                  [label]="'HospitalVisit.Activities.Children' | translate "
                                  [date]="visitDate"
                                  (childrenSelected)="lockChildren($event)"
                                  (childrenUnselected)="unlockChildren($event)"></app-child-select>
            </ng-container>

            <app-activity-select [options]="activityTypeOptions"
                                 formControlName="activities"
                                 [label]="'HospitalVisit.Activities.Activities' | translate"></app-activity-select>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'HospitalVisit.Activities.Comment' | translate }}</mat-label>
                <textarea type="text"
                          matInput
                          [placeholder]="'HospitalVisit.Activities.CommentPlaceholder' | translate"
                          formControlName="comment"></textarea>
            </mat-form-field>

            <div class="button-row">
                <button mat-flat-button
                        [disabled]="buttonsDisabled || form.invalid"
                        color="accent"
                        (click)="onFormSubmit()"
                        type="button">
                    {{ 'SaveButton' | translate}}
                </button>
                <button mat-stroked-button
                        [disabled]="buttonsDisabled"
                        color="primary"
                        type="button"
                        (click)="cancelEditing()">
                    {{ 'CancelButton' | translate}}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
