<h1 mat-dialog-title>{{ 'Visit.Continue.DialogTitle' | translate }}</h1>
<div mat-dialog-content>
    <div class="description">
        {{ 'Visit.Continue.DialogText' | translate }}
    </div>
    <form>
        <div>
            <mat-form-field>
                <mat-label>{{ 'Visit.Continue.Department' | translate }}</mat-label>
                <mat-select [formField]="form.departmentId">
                    @for (option of departmentOptions(); track option.id) {
                        <mat-option [value]="option.id"> {{ option.name }}</mat-option>
                    }
                </mat-select>
                <mat-error [fField]="form.departmentId"/>
            </mat-form-field>
        </div>

        <div class="time-field">
            <mat-form-field>
                <mat-label>{{ 'Visit.Continue.TimeFrom' | translate }}</mat-label>
                <input matInput type="time" [formField]="form.from">
                <mat-error [fField]="form.from"/>
            </mat-form-field>
        </div>
    </form>

</div>

<div mat-dialog-actions>
    <button mat-flat-button color="accent" type="button"
            [disabled]="form().submitting()" (click)="submitForm()">
        {{ 'Visit.Continue.Ok' | translate }}
    </button>
    <button mat-stroked-button color="primary" type="button"
            [disabled]="form().submitting()" (click)="close()">
        {{ 'Visit.Continue.Cancel' | translate }}
    </button>
</div>
