
.reason-MISSING {
    background-color: #ff9393;
}

.reason-BROKEN {
    background-color: #ff9393;
}

.reason-NEED_REFILL {
    background-color: #faca8b;
}

.reason-NEED_CLEANING {
    background-color: #faca8b;
}

.reason-CEASED {
    background-color: #757c75;
}

.reason-CORRECTED {
background-color: #93ff9c;
}

.reason-COMMENT {
}
