@let status = boxStatus();
<mat-card [class]="'reason-' + status.reason">
    <mat-card-header>
        <mat-card-subtitle>{{ status.dateTime | date : ( 'DateTimeFormat' | translate ) }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h1>{{ 'BoxStatusChangeReason.' + status.reason | translate }}</h1>
        <div *ngIf="status.affectedObject" class="affected-object">
            {{ status.affectedObject }}
        </div>
        <div *ngIf="status.comment" class="comment">
            <span class="title">{{ 'Comment' | translate }}: </span>
            <span class="content">{{ status.comment }}</span>
        </div>
    </mat-card-content>
</mat-card>
