
.no-data {
    opacity: .4;
}

:host {

    .option-row {

        display: flex;
        align-items: center;

        ::ng-deep app-lazy-input {

            flex: auto;
            padding-right: .5rem;

            .mat-mdc-form-field-subscript-wrapper {
                display: none
            }
        }
    }

    .settings-icon {
        opacity: .7;
    }

}
