<mat-card>
    <mat-card-content>
        <form [formGroup]="form">

            <mat-form-field>
                <mat-label>{{ 'BoxStatus.Reason' | translate }}</mat-label>
                <mat-select formControlName="reason">
                    <mat-option [value]="null">-</mat-option>
                    @for (reason of reasonOptions; track reason) {
                        <mat-option [value]="reason">{{ 'BoxStatusChangeReason.' + reason | translate }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'BoxStatus.AffectedObject' | translate }}</mat-label>
                <mat-select formControlName="affectedObject">
                    @for (option of affectedObjectsOptions; track option) {
                        <mat-option [value]="option">{{ option }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <app-trimmed-text-input
                    [label]="'BoxStatus.Comment' | translate"
                    [placeholder]="'BoxStatus.CommentPlaceholder' | translate"
                    formControlName="comment">
            </app-trimmed-text-input>

            <div class="button-row">
                <button mat-flat-button
                        [disabled]="buttonsDisabled"
                        color="accent"
                        (click)="onFormSubmit()"
                        type="button">
                    {{ 'SaveButton' | translate }}
                </button>
                <button mat-stroked-button
                        [disabled]="buttonsDisabled"
                        color="primary"
                        type="button"
                        (click)="cancelEditing()">
                    {{ 'CancelButton' | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>