<form (appSubmit)="submitSettings()">

    <mat-form-field>
        <mat-label>{{ 'PersonPage.EventListSettings.Date' | translate }}</mat-label>
        <mat-select [formField]="form.dateFilter">
            <mat-option [value]="undefined">-</mat-option>
            @for (option of dateOptions; track option) {
                <mat-option [value]="option">{{ `DateIntervalSpecifier.${option}` | translate }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <app-person-select [label]="'PersonPage.EventListSettings.Participants' | translate"
                       [formField]="form.participantIds"/>

    <mat-form-field>
        <mat-label>{{ 'PersonPage.EventListSettings.Statuses' | translate }}</mat-label>
        <mat-select [formField]="form.statuses" multiple>
            @for (option of statusOptions; track option) {
                <mat-option [value]="option">{{ `VisitStatus.${option}` | translate }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'PersonPage.EventListSettings.Departments' | translate }}</mat-label>
        <mat-select [formField]="form.departmentIds" multiple>
            @for (option of departmentOptions(); track option) {
                <mat-option [value]="option.id">{{ option.name }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-card>
        <mat-card-subtitle>
            <mat-checkbox [formField]="form.needHighlight">
                {{ 'PersonPage.EventListSettings.NeedHighlight' | translate }}
            </mat-checkbox>
        </mat-card-subtitle>
    </mat-card>

    <div class="button-row">
        <button mat-flat-button color="accent"
                [disabled]="isSaveBtnDisabled()">
            {{ 'SaveButton' | translate }}
        </button>
    </div>
</form>
