<div class="user-settings">
    <h1>{{ 'PersonPage.Settings' | translate }}</h1>
    <mat-tab-group dynamicHeight>
        <mat-tab [label]="'PersonPage.EventListSettings.Title' | translate">
            <div class="event-list-settings">
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.EventListSettings.Date' | translate }}</mat-card-subtitle>
                        <mat-card-title>
                            @if (settings.eventList?.dateFilter) {
                                {{ 'DateIntervalSpecifier.' + settings.eventList?.dateFilter | translate }}
                            } @else {
                                {{ 'NoData' | translate }}
                            }
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.EventListSettings.Participants' | translate }}</mat-card-subtitle>
                        <mat-card-title>
                            @for (person of participants;track person.id) {
                                <mat-chip>{{ person | personName }}</mat-chip>
                            } @empty {
                                {{ 'NoData' | translate }}
                            }
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.EventListSettings.Statuses' | translate }}</mat-card-subtitle>
                        <mat-card-title>
                            @for (status of settings.eventList?.statuses;track status) {
                                <mat-chip>{{ 'HospitalVisitStatus.' + status | translate }}</mat-chip>
                            } @empty {
                                {{ 'NoData' | translate }}
                            }
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.EventListSettings.Departments' | translate }}</mat-card-subtitle>
                        <mat-card-title>
                            @for (department of departments;track department.id) {
                                <mat-chip>{{ department.name }}</mat-chip>
                            } @empty {
                                {{ 'NoData' | translate }}
                            }
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>
                            {{ 'PersonPage.EventListSettings.NeedHighlight' | translate }}
                        </mat-card-subtitle>
                        <mat-card-title>
                            @if (isNil(settings.eventList?.needHighlight)) {
                                {{ 'NoData' | translate }}
                            } @else {
                                {{ 'YesNo.' + settings.eventList?.needHighlight | translate }}
                            }
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>
        </mat-tab>

        <mat-tab [label]="'PersonPage.HomePageSettings.Title' | translate">
            <div class="home-page-settings">
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.HomePageSettings.InMobile' | translate }}</mat-card-subtitle>
                        <mat-card-title>
                            @if (settings.homePage?.inMobile) {
                                {{ 'HomePageOption.' + settings.homePage?.inMobile | translate }}
                            } @else {
                                {{ 'NoData' | translate }}
                            }
                        </mat-card-title>
                    </mat-card-header>
                    @if (settings.homePage?.inMobile) {
                        <mat-card-content>
                            {{ 'PersonPage.HomePageSettings.Description.' + settings.homePage?.inMobile | translate }}
                        </mat-card-content>
                    }
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.HomePageSettings.InDesktop' | translate }}</mat-card-subtitle>
                        <mat-card-title>
                            @if (settings.homePage?.inDesktop) {
                                {{ 'HomePageOption.' + settings.homePage?.inDesktop | translate }}
                            } @else {
                                {{ 'NoData' | translate }}
                            }
                        </mat-card-title>
                    </mat-card-header>
                    @if (settings.homePage?.inDesktop) {
                        <mat-card-content>
                            {{ 'PersonPage.HomePageSettings.Description.' + settings.homePage?.inDesktop | translate }}
                        </mat-card-content>
                    }
                </mat-card>
            </div>
        </mat-tab>

        <mat-tab [label]="'PersonPage.DepartmentBoxesWidgetSettings.Title' | translate">
            <div class="department-boxes-widget-settings">
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.DepartmentBoxesWidgetSettings.Needed' | translate }}</mat-card-subtitle>
                        <mat-card-title>{{ settings.dashboard?.widgets?.departmentBox?.needed | optional }}</mat-card-title>
                    </mat-card-header>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.DepartmentBoxesWidgetSettings.Index' | translate }}</mat-card-subtitle>
                        <mat-card-title>{{ settings.dashboard?.widgets?.departmentBox?.index | optional }}</mat-card-title>
                    </mat-card-header>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.DepartmentBoxesWidgetSettings.Limit' | translate }}</mat-card-subtitle>
                        <mat-card-title>{{ settings.dashboard?.widgets?.departmentBox?.limit | optional }}</mat-card-title>
                    </mat-card-header>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.DepartmentBoxesWidgetSettings.Date' | translate }}</mat-card-subtitle>
                        <mat-card-title>
                            @if (settings.dashboard?.widgets?.departmentBox?.dateInterval) {
                                {{ 'DateIntervalSpecifier.' + settings.dashboard?.widgets?.departmentBox?.dateInterval | translate }}
                            } @else {
                                {{ 'NoData' | translate }}
                            }
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>{{ 'PersonPage.DepartmentBoxesWidgetSettings.Reason' | translate }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        @for (reason of settings.dashboard?.widgets?.departmentBox?.reasons ?? [];track reason;let last = $last) {
                            {{ 'BoxStatusChangeReason.' + reason | translate}}<span *ngIf="!last">, </span>
                        } @empty {
                            {{ 'NoData' | translate }}
                        }
                    </mat-card-content>
                </mat-card>

            </div>
        </mat-tab>
    </mat-tab-group>
</div>
