<section>
    <div class="page-content">

        <div class="visit-part">
            <ng-container *ngIf="visit && !isEditMode()">
                <app-hospital-visit-presenter [visit]="visit!"></app-hospital-visit-presenter>
                <div class="button-row">
                    <button *ngIf="permissions.has(Permission.canModifyVisit)"
                            mat-stroked-button
                            color="primary"
                            (click)="switchToEdit()">
                        {{ 'Edit' | translate }}
                    </button>
                </div>
            </ng-container>

            <app-hospital-visit-form *ngIf="isEditMode()"
                                     [visit]="visit"
                                     [(createNewAfterSave)]="createNewAfterSave"
                                     (submitted)="saveVisit($event)"
                                     (canceled)="cancelEditing()">
            </app-hospital-visit-form>
        </div>

        <div class="activities-part" *ngIf="visit && permissions.has(Permission.canReadActivity)">
            <app-visit-activities [visit]="visit" [editEnabled]="false"></app-visit-activities>
        </div>

    </div>
</section>
