<section>
    <div class="page-content">

        <div class="visit-part">
            @if (visit && !isEditMode()) {
                <app-hospital-visit-presenter [visit]="visit!"/>
                <div class="button-row">
                    @if (isFilledAndUserIsParticipant()) {
                        <button mat-flat-button color="primary" (click)="prepareReport()">
                            {{ 'HospitalVisit.OpenReportDraft' | translate }}
                        </button>
                    }
                    @if (canUserStartTheVisit()) {
                        <button mat-flat-button
                                color="accent"
                                [routerLink]="['/hospital-visits', visit.id, 'fill-activities']">
                            <mat-icon>rocket_launch</mat-icon>
                            {{ 'HospitalVisit.Start' | translate }}
                        </button>
                    }
                    @if (isStartedAndUserCanContinueTheVisit()) {
                        <button mat-flat-button
                                color="accent"
                                [routerLink]="['/hospital-visits', visit.id, 'fill-activities']">
                            <mat-icon>rocket_launch</mat-icon>
                            {{ 'HospitalVisit.ContinueFilling' | translate }}
                        </button>
                    }
                    @if (this.canUserEditTheVisit()) {
                        <button mat-stroked-button
                                color="primary"
                                (click)="switchToEdit()">
                            {{ 'Edit' | translate }}
                        </button>
                    }
                </div>
            }

            @if (isEditMode()) {
                <app-hospital-visit-form [visit]="visit"
                                         [(createNewAfterSave)]="createNewAfterSave"
                                         (submitted)="saveVisit($event)"
                                         (canceled)="cancelEditing()"/>
            }
        </div>

        @if (visit) {
            @if (shouldShowConnections() && connectedVisits.length === 0) {
                <app-hospital-visit-connections [visit]="visit" [connections]="connectedVisits"/>
            }

            @if (shouldShowActivities()) {
                <div class="activities-part">
                    <app-visit-activities [visit]="visit" [needWarnings]="true"/>
                </div>
            }
            @if (shouldShowConnections() && connectedVisits.length !== 0) {
                <app-hospital-visit-connections [visit]="visit" [connections]="connectedVisits"/>
            }
        }
    </div>
</section>
