@use '@angular/material' as mat;

:host .related-activities {
    margin: 1rem 0;

    ::ng-deep .mat-expansion-panel-body {
        background-color: whitesmoke;
        padding: .5rem 0 0 0;
    }
}

.start-btn, .finalized-btn {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.finalized-btn {
    margin: 1rem 0 0 0;
}

.fail-btn {
    margin-top: 3rem;

    button {
        margin-top: 1rem;
        text-align: left;
        font-size: smaller;
        display: flex;
    }
}

.activities-part {
    .children, .activities, .info, .box-info {
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 4px;
        @include mat.elevation(2);
    }
}
