@use '@angular/material' as mat;

.related-activities {
    margin: 1rem 0 1rem 0;
}

.start-btn, .finalized-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.finalized-btn {
    margin: 1rem 0 0 0;
}

.activities-part {
    .children, .activities, .box-info {
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 4px;
        @include mat.elevation(2);
    }
}