
html, body, app-root {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

.display-none {
    display: none !important;
}

.hidden {
    visibility: hidden !important;
}

section {
    width: 60vw;
    justify-content: center;
    display: flex;
    margin: auto;

    .page-content {
        width: 100%;
        margin-bottom: 5vh;
    }

    @media screen and (max-width: 1000px) {
        width: 80vw;
    }
    @media screen and (max-width: 600px) {
        width: 100%;
    }

}

mat-card.form-card {
    border: solid var(--mdc-outlined-text-field-outline-width) var(--mdc-outlined-text-field-outline-color);
}

.link {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

form .button-row {
    display: flex;
    justify-content: flex-end;

    button {
        margin-right: .5rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

// Without this, the select search will not have background
.mat-select-search-input {
    background-color: field !important;
}

.nowrap {
    white-space: nowrap;
}

.empty-list {
    font-style: italic;
}

.button-row {
     display: flex;
     justify-content: flex-end
 }

.divider {
    margin: 2rem 0 2rem 0;
    border: 0.1rem solid;
}
