<div class="activities-information-header">
    <h1>{{ 'Visit.Activities.Information' | translate }}</h1>
    @if (permissions.has(Permission.canCreateActivity)) {
        <span class="add-btn">
            <button mat-mini-fab color="accent" (click)="toggleEditMode()">
                @if (editMode()) {
                    <mat-icon>close</mat-icon>
                } @else {
                    <mat-icon>add</mat-icon>
                }
            </button>
        </span>
    }
</div>

@if (editMode()) {
    <form (appSubmit)="submitForm()">
        <div class="activities-information-edit">
            <mat-form-field>
                <textarea matInput [formField]="contentForm.text"
                          [placeholder]="'Visit.Activities.InformationHint' | translate"></textarea>
            </mat-form-field>

            <div class="button-row">
                <button mat-flat-button color="accent"
                        [disabled]="contentForm().submitting()">
                    {{ 'SaveButton' | translate }}
                </button>
                <button mat-stroked-button color="primary" type="button"
                        [disabled]="contentForm().submitting()"
                        (click)="toggleEditMode()">
                    {{ 'CancelButton' | translate }}
                </button>
            </div>
        </div>
    </form>
} @else {
    @if (originalInfo().length === 0) {
        <div class="empty-list">
            {{ 'Visit.Activities.NoInformation' | translate }}
        </div>
    } @else {
        <mat-card>
            <mat-card-content>
                {{ originalInfo() }}
            </mat-card-content>
        </mat-card>
    }
}
