.activities-information-header {
    display: flex;
    justify-content: space-between;
}

.activities-information-edit {
    mat-form-field {
        textarea {
            min-height: 10rem;
        }
    }
}
