<mat-card>
    <mat-card-content>
        <form (appSubmit)="submitForm()">
            <mat-form-field>
                <mat-label>{{ 'BoxStatus.Reason' | translate }}</mat-label>
                <mat-select [formField]="form.reason">
                    <mat-option [value]="null">-</mat-option>
                    @for (reason of reasonOptions; track reason) {
                        <mat-option [value]="reason">{{ `BoxStatusChangeReason.${reason}` | translate }}</mat-option>
                    }
                    <mat-error [fField]="form.reason"/>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'BoxStatus.AffectedObject' | translate }}</mat-label>
                <mat-select [formField]="form.affectedObject">
                    @for (option of affectedObjectsOptions; track option) {
                        <mat-option [value]="option">{{ option }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <app-trimmed-text-input
                    [formField]="form.comment"
                    [label]="'BoxStatus.Comment' | translate"
                    [placeholder]="'BoxStatus.CommentPlaceholder' | translate"/>

            <div class="button-row">
                <button mat-flat-button
                        [disabled]="form().submitting() || (form().invalid() && form().touched())"
                        color="accent">
                    {{ 'SaveButton' | translate }}
                </button>
                <button mat-stroked-button
                        [disabled]="form().submitting()"
                        color="primary"
                        type="button"
                        (click)="cancelEditing()">
                    {{ 'CancelButton' | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>