<h1>{{ 'PersonPage.User.EditData' | translate }}</h1>

<form [formGroup]="form">

    <div>
        <app-trimmed-text-input formControlName="userName"
                                [placeholder]="'PersonPage.User.Form.UserNamePlaceholder' | translate"
                                [label]="'PersonPage.User.Form.UserName'| translate">
        </app-trimmed-text-input>
    </div>

    <div>
        <mat-form-field>
            <mat-label>{{ 'PersonPage.User.Form.Password' | translate }}</mat-label>
            <input matInput
                   type="password"
                   formControlName="password"
                   autocomplete="new-password"
                   [placeholder]="'PersonPage.User.Form.PasswordPlaceholder' | translate">
            <mat-hint>{{ 'PersonPage.User.Form.PasswordHint' | translate }}</mat-hint>
            <mat-hint>{{ 'PersonPage.User.Form.PasswordPatternHint' | translate : {passwordMinLength} }}</mat-hint>
        </mat-form-field>
    </div>

    <div class="status-card">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{ 'PersonPage.User.Form.Status' | translate }}</mat-card-subtitle>
                <mat-card-content>
                    <mat-slide-toggle formControlName="isActive">
                        {{ (isUserSetToActive() ? 'PersonPage.User.Active' : 'PersonPage.User.Inactive') | translate }}
                    </mat-slide-toggle>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
    </div>

    <div>
        <mat-form-field>
            <mat-label>{{ 'PersonPage.User.Form.Roles' | translate }}</mat-label>
            <mat-select formControlName="roles" multiple>
                @for (role of roles;track role) {
                    <mat-option [value]="role" [disabled]="!roleOptions.includes(role)">
                        {{ 'Role.' + role | translate }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>{{ 'PersonPage.User.Form.Permissions' | translate }}</mat-label>
            <mat-select formControlName="customPermissions" multiple>
                @for (permission of permissions;track permission) {
                    <mat-option [value]="permission">{{ permission }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div class="button-row">
        <button mat-flat-button
                color="accent"
                (click)="onSubmit()"
                type="button">
            {{ 'SaveButton' | translate }}
        </button>
        <button mat-stroked-button
                color="primary"
                type="button"
                (click)="cancelEditing()">
            {{ 'CancelButton' | translate }}
        </button>
    </div>

</form>
