.parent-info {
    margin-left: .5rem;

    mat-icon {
        font-size: large;
        height: initial;
        margin-bottom: -0.1rem;
    }
}

:host ::ng-deep .mat-mdc-card-header-text {
    width: 100%;
}

mat-card-subtitle {
    display: flex;
    justify-content: space-between;
}