<section>
    <div class="page-content">
        <span class="page-header">
            <h1>{{ 'Titles.EventsList' | translate }}</h1>
            <span>
                <app-view-type-selector [(viewType)]="viewType"></app-view-type-selector>
                <span *ngIf="permissions.has(Permission.canCreateVisit)">
                    <a mat-mini-fab
                       color="accent"
                       [routerLink]="['/hospital-visits', 'new']">
                        <mat-icon>add</mat-icon>
                    </a>
                </span>
            </span>
        </span>

        <div class="settings">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ 'EventsList.Settings' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-event-list-filter></app-event-list-filter>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="events-list">
            <ng-container *ngIf="viewType === ViewType.LIST">
                <div *ngFor="let event of eventsList" class="event-card">
                    <app-hospital-event-card [visit]="event" [needFillButton]="true"></app-hospital-event-card>
                </div>
            </ng-container>
            <ng-container *ngIf="viewType === ViewType.TABLE">
                <app-hospital-events-list [eventsList]="eventsList"
                                          [markRowByDate]="preferences.needHighlight"></app-hospital-events-list>
            </ng-container>

            <ng-container *ngIf="!eventsList?.length">
                {{ 'EventsList.NoEventsFound' | translate }}
            </ng-container>
        </div>

        <mat-paginator *ngIf="eventsList?.length"
                       [length]="countOfAll"
                       [pageIndex]="page - 1"
                       [pageSize]="size"
                       [pageSizeOptions]="sizeOptions"
                       (page)="paginateHappened($event)">
        </mat-paginator>
    </div>
</section>
