<section>
    <div class="page-content">
        <span class="page-header">
            <h1>{{ 'Titles.EventsList' | translate }}</h1>
            <span>
                <span *ngIf="permissions.has(Permission.canCreateVisit)">
                    <a mat-mini-fab
                       color="accent"
                       [routerLink]="['/hospital-visits', 'new']">
                        <mat-icon>add</mat-icon>
                    </a>
                </span>
            </span>
        </span>

        <div class="settings">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ 'EventsList.Settings' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-event-list-filter/>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="events-list">
            <app-hospital-events-list [eventsList]="eventsList"
                                      [markRowByDate]="preferences.needHighlight"/>

            @if (!eventsList.length) {
                {{ 'EventsList.NoEventsFound' | translate }}
            }
        </div>

        @if (eventsList.length) {
            <mat-paginator [length]="countOfAll"
                           [pageIndex]="page - 1"
                           [pageSize]="size"
                           [pageSizeOptions]="sizeOptions"
                           (page)="paginateHappened($event)"/>
        }
    </div>
</section>
