<mat-card>
    <mat-card-header>
        <div class="widget-header">
            <div class="widget-title">{{ title() }}</div>
            <div class="button-row">
                <mat-button-toggle-group [(ngModel)]="mode" appearance="legacy">
                    <mat-button-toggle [value]="WidgetMode.CHART">
                        {{ 'StatisticsPage.Widget.Chart' | translate }}
                    </mat-button-toggle>
                    <mat-button-toggle [value]="WidgetMode.TABLE">
                        {{ 'StatisticsPage.Widget.Table' | translate }}
                    </mat-button-toggle>
                </mat-button-toggle-group>

                <button mat-button color="primary" class="export" (click)="exportData()">
                    <mat-icon>file_download</mat-icon>
                    {{ 'StatisticsPage.Widget.Export' | translate }}
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="data-viewer">
            @if (dataReady()) {
                @if (mode() === WidgetMode.CHART) {
                    <app-chart [data]="chartData()"/>
                } @else {
                    <app-statistic-widget-table [data]="tableData()"/>
                }
            } @else {
                {{ 'StatisticsPage.Widget.Loading' | translate }}
            }
        </div>
    </mat-card-content>
</mat-card>