<section id="pageNotFoundPageContent">
    <div class="container">
        <div class="col-8 offset-2">
            <h1>{{ 'PageNotFound.PageNotFound404' | translate }}</h1>
            @let pathValue = path();
            @if (pathValue) {
                <div>
                    {{ 'PageNotFound.WantToGo' | translate }}
                    <a [routerLink]="pathValue">{{ pathValue }}</a>
                    {{ 'PageNotFound.Page' | translate }}
                </div>
            }
        </div>
    </div>
</section>
