<mat-card>
    <mat-card-header>
        <mat-card-subtitle>
            @for (activityType of activity().activities; track activityType) {
                <span class="activity-type inline-list-item">
<!--                    Needs to be inline because of content of ::after -->
                    {{ 'VisitActivityTypes.' + activityType  | translate }}</span>
            }
            <div class="children">
                <mat-chip-listbox>
                    @for (visitedChildId of activity().children; track visitedChildId) {
                        <mat-chip-row>{{ childrenById()[visitedChildId].child.name }}</mat-chip-row>
                    }
                </mat-chip-listbox>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{ activity().comment }}
    </mat-card-content>
</mat-card>
