.DRAFT {
    color: #797979;
}

.SCHEDULED {
    color: #1b84c6;
}

.CANCELED {
    color: #ff6c7b;
}

.JUST_REQUIRED_FIELDS_FILLED {
    color: #b5b708;
}

.ALL_FIELDS_FILLED {
    color: #5c9a4b;
}

.ENDED_SUCCESSFULLY {
    color: #168f00;
}
