.DRAFT {
    color: #797979;
}

.SCHEDULED {
    color: #0000ff;
}


.STARTED {
    color: #b6ae18;
}


.ACTIVITIES_FILLED_OUT {
    color: #77ce2f;
}

.ALL_FILLED_OUT {
    color: #2fa207;
}


.CANCELED {
    color: #ff0000;
}

.FAILED_BECAUSE_NO_CHILD {
    color: #ff0000;
}

.FAILED_FOR_OTHER_REASON {
    color: #ff0000;
}

.SUCCESSFUL {
    color: #00d900;
}
