
.page-header {
    display: flex;
    justify-content: space-between;
}


.permission-selector, role-type-selector {
    display: flex;
    align-items: center;

    ::ng-deep {
        .mat-mdc-select-value, .mat-mdc-select-value-text {
            width: unset;
            overflow: unset;
            text-overflow: unset;
            white-space: unset;
        }
    }
}

.settings-icon {
    opacity: .7;
}
