<section>
    @let personValue = person();
    <div class="page-content">
        @if (isEdit()) {
            <app-person-data-form [person]="personValue"
                                  (submitted)="setSavedPerson($event)"
                                  (canceled)="cancelEditing()"/>
        } @else {
            <app-person-data-presenter [person]="personValue"/>
            <div class="button-row">
                @if (isEditEnabled()) {
                    <button mat-stroked-button color="primary" (click)="switchToEdit()">
                        {{ 'Edit' | translate }}
                    </button>
                }
            </div>
        }

        @if (personValue) {
            <div class="divider"></div>
            <div class="user-part">
                <app-user-detail [personId]="personValue.id"
                                 [userId]="personValue.user?.id"
                                 [editEnabled]="isEditEnabled()"/>
            </div>
        }
    </div>
</section>
