<table mat-table recycleRows [dataSource]="tableDataSource">

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ 'VisitList.ListHeader.Date' | translate }}</th>
        <td mat-cell *matCellDef="let visit">
            <a class="link" [routerLink]="['/hospital-visits', visit.id]">
                {{ visit.dateTimeFrom | date : ('EventShortDateFormat' | translate) }}
                {{ visit.dateTimeFrom | date : ('TimeFormat' | translate) }}
                -
                {{ visit.dateTimeTo | date : ('TimeFormat' | translate) }}
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>{{ 'VisitList.ListHeader.Department' | translate }}</th>
        <td mat-cell *matCellDef="let visit">
            <a class="link"
               [routerLink]="['/hospital-visits', visit.id]">
                {{ visit.department.name }}
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="participants">
        <th mat-header-cell *matHeaderCellDef>{{ 'VisitList.ListHeader.Participants' | translate }}</th>
        <td mat-cell *matCellDef="let visit">
            <span class="participants"
                  *ngFor="let participant of visit.participants; let last = last">
                  <a [routerLink]="['/people', participant.id]">
                      {{ participant | personName }}
                  </a>
                <span *ngIf="!last">, </span>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let visit">
            <span *ngIf="isFillButtonNeeded(visit)" class="fill-btn">
            <a [routerLink]="['/hospital-visits', visit.id, 'fill-activities']">
                <mat-icon>rocket_launch</mat-icon>
            </a>
        </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
