.fill-btn {
    margin-left: 1rem;

    a {
        color: #1c87cb;

        &:hover {
            color: #1c87cb;
        }
    }
}

.participants {
    a {
        font-style: italic;
        text-decoration: unset;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}

td, th {
    &.status-column {
        width: 1rem;
        padding: 0;

        ::ng-deep mat-icon {
            font-size: large;
            text-align: center;
            margin-bottom: -0.6rem;
        }
    }

    &.date-column {
        padding-left: .5rem;
    }

    &.mat-column-participants {

        mat-icon {
            margin-left: .5rem;
            color: #b29700;
            height: 1rem;
            font-size: 1rem;
        }
    }
}

$tr-border-radius: 1rem;

.need-row-mark tr {
    &.before-today td {
        opacity: .5;
    }

    &.in-today td {
        background-color: #e3ffdf;

        &:first-of-type {
            border-bottom-left-radius: $tr-border-radius;
            border-top-left-radius: $tr-border-radius;
        }

        &:last-of-type {
            border-bottom-right-radius: $tr-border-radius;
            border-top-right-radius: $tr-border-radius;
        }
    }

    &.is-after-today td {
        // nothing yet
    }
}
