<div class="children-list-manager">
    <div class="children-manager-header">
        <h1>{{ 'ChildrenList.ChildrenList' | translate }}</h1>
        <span *ngIf="editEnabled">
            <button mat-mini-fab color="accent" (click)="creatorToggled()">
                <mat-icon *ngIf="creatingInProcess">close</mat-icon>
                <mat-icon *ngIf="!creatingInProcess">add</mat-icon>
            </button>
        </span>
    </div>
    <app-child-create *ngIf="creatingInProcess"
                      [visitDate]="visitDate"
                      [buttonsDisabled]="saveInProcess"
                      [needParentInfo]="needParentInfo"
                      (submitted)="createFinished($event)"
                      (canceled)="createCanceled()">
    </app-child-create>
    <app-children-list [children]="children" [visitDate]="visitDate"></app-children-list>
</div>
