<section>
    <div class="page-content">
        <h1>{{ 'Titles.DepartmentList' | translate }}</h1>

        <div class="option-row">
            <app-lazy-input [label]="'Search' | translate" (changed)="filterChanged($event)"></app-lazy-input>

            <button *ngIf="permissions.has(Permission.canWriteDepartment)"
                    mat-mini-fab
                    color="accent"
                    [routerLink]="['new']">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <table mat-table recycleRows [dataSource]="tableDataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{ 'DepartmentListPage.ListHeader.Name' | translate }}</th>
                <td mat-cell *matCellDef="let department">
                    <a class="link" [routerLink]="[department.id]">{{ department.name }}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>{{ 'DepartmentListPage.ListHeader.Address' | translate }}</th>
                <td mat-cell *matCellDef="let department">
                    <span>{{ department.address }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="validFrom">
                <th mat-header-cell *matHeaderCellDef>{{ 'DepartmentListPage.ListHeader.ValidFrom' | translate }}</th>
                <td mat-cell *matCellDef="let department">
                    <span>{{ department.validFrom | date : ('DateFormat' | translate) }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="validTo">
                <th mat-header-cell *matHeaderCellDef>{{ 'DepartmentListPage.ListHeader.ValidTo' | translate }}</th>
                <td mat-cell *matCellDef="let department">
                    <span *ngIf="department.validTo">{{ department.validTo | date : ('DateFormat' | translate) }}</span>
                    <span *ngIf="!department.validTo" class="no-data">{{ 'NoData' | translate }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let department">
                    <a *ngIf="isEditEnabled(department)"
                       mat-icon-button
                       [routerLink]="[department.id]" [queryParams]="{edit: true}">
                        <mat-icon class="material-icons-outlined settings-icon">settings</mat-icon>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="tableOptions">
                <td mat-footer-cell *matFooterCellDef colspan="5">
                    <mat-slide-toggle [(ngModel)]="onlyValid" (ngModelChange)="optionChanged()">
                        {{ 'DepartmentListPage.OnlyValid' | translate }}
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            <tr mat-footer-row *matFooterRowDef="['tableOptions']"></tr>
        </table>

        <mat-paginator [length]="countOfAll"
                       [pageIndex]="page - 1"
                       [pageSize]="size"
                       [pageSizeOptions]="sizeOptions"
                       (page)="paginateHappened($event)">
        </mat-paginator>
    </div>
</section>
